{% extends 'base.html.twig' %}

{% block title %}Liste Imprimé Technique Utilisé{% endblock %}

{% block body %}
    <div class="box-header">Liste Imprimé Technique Utilisé</div><br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>controle_id</th>
                <th>numéro</th>
                <th>utilisé</th>
                <th>Actived_at</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>observation</th>
                <th>est visible</th>
                <th>Utilisation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_imprime_tech_use in ct_imprime_tech_uses %}
            <tr>
                <td>{{ ct_imprime_tech_use.id }}</td>
                <td>{{ ct_imprime_tech_use.ctControleId }}</td>
                <td>{{ ct_imprime_tech_use.ituNumero }}</td>
                <td>{{ ct_imprime_tech_use.ituUsed ? 'Oui' : 'Non' }}</td>
                <td>{{ ct_imprime_tech_use.activedAt ? ct_imprime_tech_use.activedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ ct_imprime_tech_use.createdAt ? ct_imprime_tech_use.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ ct_imprime_tech_use.updatedAt ? ct_imprime_tech_use.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ ct_imprime_tech_use.ituObservation }}</td>
                <td>{{ ct_imprime_tech_use.ituIsVisible ? 'Oui' : 'Non' }}</td>
                <td>{{ ct_imprime_tech_use.ctUtilisationId }}</td>
                <td>
                    <a href="{{ path('app_ct_imprime_tech_use_show', {'id': ct_imprime_tech_use.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('app_ct_imprime_tech_use_edit', {'id': ct_imprime_tech_use.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(ct_imprime_tech_uses) }}
    </div>

    <a href="{{ path('app_ct_imprime_tech_use_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a>
{% endblock %}
