{% extends 'base.html.twig' %}

{% block title %}Imprimé Technique Utilisé{% endblock %}

{% block body %}
    <div class="box-header">Imprimé Technique Utilisé</div><br>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_imprime_tech_use.id }}</td>
            </tr>
            <tr>
                <th>controle_id</th>
                <td>{{ ct_imprime_tech_use.ctControleId }}</td>
            </tr>
            <tr>
                <th>numéro</th>
                <td>{{ ct_imprime_tech_use.ituNumero }}</td>
            </tr>
            <tr>
                <th>Utilisé</th>
                <td>{{ ct_imprime_tech_use.ituUsed ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Actived_at</th>
                <td>{{ ct_imprime_tech_use.activedAt ? ct_imprime_tech_use.activedAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ ct_imprime_tech_use.createdAt ? ct_imprime_tech_use.createdAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ ct_imprime_tech_use.updatedAt ? ct_imprime_tech_use.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>observation</th>
                <td>{{ ct_imprime_tech_use.ituObservation }}</td>
            </tr>
            <tr>
                <th>est-visible</th>
                <td>{{ ct_imprime_tech_use.ituIsVisible ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>utilisation</th>
                <td>{{ ct_imprime_tech_use.ctUtilisationId }}</td>
            </tr>
        </tbody>
    </table>
	
	<table class="table" style="width:450px;">
        <tbody>
            <tr>
                <td style="width:150px;">
                    <a href="{{ path('app_ct_imprime_tech_use_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
                </td>
                <td style="width:150px;">
                    <a href="{{ path('app_ct_imprime_tech_use_edit', {'id': ct_imprime_tech_use.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>
                </td>
                <td style="width:150px;">
                    {{ include('ct_imprime_tech_use/_delete_form.html.twig') }} 
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
