{% extends 'base.html.twig' %}

{% block title %}Autre Tarif{% endblock %}

{% block body %}
    <div class="box-header">Autre Tarif</div><br>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_autre_tarif.id }}</td>
            </tr>
            <tr>
                <th>prix</th>
                <td>{{ ct_autre_tarif.autPrix }}</td>
            </tr>
            <tr>
                <th>arrêté</th>
                <td>{{ ct_autre_tarif.autArrete }}</td>
            </tr>
            <tr>
                <th>date</th>
                <td>{{ ct_autre_tarif.autDate ? ct_autre_tarif.autDate|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>
	
	<table class="table" style="width:450px;">
        <tbody>
            <tr>
                <td style="width:150px;">
                    <a href="{{ path('app_ct_autre_tarif_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
                </td>
                <td style="width:150px;">
                    <a href="{{ path('app_ct_autre_tarif_edit', {'id': ct_autre_tarif.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>
                </td>
                <td style="width:150px;">
                    {{ include('ct_autre_tarif/_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
