{% extends 'base.html.twig' %}

{% block title %}Véhicule{% endblock %}

{% block body %}
    <div class="box-header">Véhicule</div><br>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_vehicule.id }}</td>
            </tr>
            <tr>
                <th>cylindre</th>
                <td>{{ ct_vehicule.vhcCylindre }}</td>
            </tr>
            <tr>
                <th>puissance</th>
                <td>{{ ct_vehicule.vhcPuissance }}</td>
            </tr>
            <tr>
                <th>poids à vide</th>
                <td>{{ ct_vehicule.vhcPoidsVide }}</td>
            </tr>
            <tr>
                <th>charge utile</th>
                <td>{{ ct_vehicule.vhcChargeUtile }}</td>
            </tr>
            <tr>
                <th>hauteur</th>
                <td>{{ ct_vehicule.vhcHauteur }}</td>
            </tr>
            <tr>
                <th>largeur</th>
                <td>{{ ct_vehicule.vhcLargeur }}</td>
            </tr>
            <tr>
                <th>longueur</th>
                <td>{{ ct_vehicule.vhcLongueur }}</td>
            </tr>
            <tr>
                <th>numéro de série du type</th>
                <td>{{ ct_vehicule.vhcNumSerie }}</td>
            </tr>
            <tr>
                <th>numéro moteur</th>
                <td>{{ ct_vehicule.vhcNumMoteur }}</td>
            </tr>
            <tr>
                <th>created</th>
                <td>{{ ct_vehicule.vhcCreated ? ct_vehicule.vhcCreated|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>provenance</th>
                <td>{{ ct_vehicule.vhcProvenance }}</td>
            </tr>
            <tr>
                <th>type</th>
                <td>{{ ct_vehicule.vhcType }}</td>
            </tr>
            <tr>
                <th>poids total à charge</th>
                <td>{{ ct_vehicule.vhcPoidsTotalCharge }}</td>
            </tr>
        </tbody>
    </table>
	
	<table class="table" style="width:450px;">
        <tbody>
            <tr>
                <td style="width:150px;">
                    <a href="{{ path('app_ct_vehicule_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
                </td>
                <td style="width:150px;">
                    <a href="{{ path('app_ct_vehicule_edit', {'id': ct_vehicule.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>
                </td>
                <td style="width:150px;">
                    {{ include('ct_vehicule/_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
