{% extends 'base.html.twig' %}

{% block title %}Liste des imprimés utilisés{% endblock %}

{% block app_ct %}
<div class="box">
    <div class="box-header">UTILISATION IMPRIME</div><br>
</div>
<div class="box">
    <div class="entete-formulaire">Mise à jour utilisation des imprimés</div><hr>
    <div>
        {{ form_start(form_imprime_tech_use) }}
            {{ form_row(form_imprime_tech_use.ct_usage_it_id) }}
            {{ form_row(form_imprime_tech_use.ct_controle_id) }}
            {{ form_row(form_imprime_tech_use.imprime_technique_use_numero) }}
            <div align="left">
                <button class="btn btn-primary" type="submit" style="float:left">
                    Enregistrer
                </button>
            </div>
        {{ form_end(form_imprime_tech_use) }}
        <br><br>
    </div>
</div>
<div class="box">
    <table>
        <tr>
            <td>
                <a href="{{ path('app_ct_app_imprime_technique_liste_utiliser') }}" class="btn btn-success"><i class="fa fa-success" aria-hidden="true"></i>  Retour à listes des utilisés</a>
            </td>
            <td>
                <a href="{{ path('app_ct_app_imprime_technique_mise_a_jour_utilisation') }}" class="btn btn-success"><i class="fa fa-success" aria-hidden="true"></i> Retour à la recherche</a>
            </td>
            <td>
                <a href="{{ path('app_ct_app_imprime_technique_mise_a_jour_multiple') }}" class="btn btn-success"><i class="fa fa-success" aria-hidden="true"></i> Retour à l'ajout multiple</a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
