{% extends 'base.html.twig' %}

{% block title %}Extra Vente{% endblock %}

{% block body %}
    <div class="box-header">Extra Vente</div><br>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_extra_vente.id }}</td>
            </tr>
            <tr>
                <th>created_at</th>
                <td>{{ ct_extra_vente.exvCreatedAt ? ct_extra_vente.exvCreatedAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>est-active</th>
                <td>{{ ct_extra_vente.exvIsActive ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>
	
	<table class="table" style="width:450px;">
        <tbody>
            <tr>
                <td style="width:150px;">
                    <a href="{{ path('app_ct_extra_vente_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
                </td>
                <td style="width:150px;">
                    <a href="{{ path('app_ct_extra_vente_edit', {'id': ct_extra_vente.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>
                </td>
                <td style="width:150px;">
                    {{ include('ct_extra_vente/_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
