{% extends 'base.html.twig' %}

{% block title %}Liste Anomalie{% endblock %}

{% block body %}
    <div class="box-header">Liste Anomalie</div><br>

    <table class="table liste">
        <thead>
            <tr>
                <th>Id</th>
                <th>libellé</th>
                <th>code</th>
                <th>niveau danger</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_anomalie in ct_anomalies %}
            <tr>
                <td>{{ ct_anomalie.id }}</td>
                <td>{{ ct_anomalie.anmlLibelle }}</td>
                <td>{{ ct_anomalie.anmlCode }}</td>
                <td>{{ ct_anomalie.anmlNiveauDanger }}</td>
                <td>
                    <a href="{{ path('app_ct_anomalie_show', {'id': ct_anomalie.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('app_ct_anomalie_edit', {'id': ct_anomalie.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <div class="navigation">
        {{ knp_pagination_render(ct_anomalies) }}
    </div> #}

    <a href="{{ path('app_ct_anomalie_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a>
{% endblock %}
