{% extends 'base.html.twig' %}

{% block title %}Usage{% endblock %}

{% block body %}
    <div class="box-header">Usage</div><br>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_usage.id }}</td>
            </tr>
            <tr>
                <th>libellé</th>
                <td>{{ ct_usage.usgLibelle }}</td>
            </tr>
            <tr>
                <th>validité</th>
                <td>{{ ct_usage.usgValidite }}</td>
            </tr>
            <tr>
                <th>created</th>
                <td>{{ ct_usage.usgCreated ? ct_usage.usgCreated|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>
	
	<table class="table" style="width:450px;">
        <tbody>
            <tr>
                <td style="width:150px;">
                    <a href="{{ path('app_ct_usage_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
                </td>
                <td style="width:150px;">
                    <a href="{{ path('app_ct_usage_edit', {'id': ct_usage.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>
                </td>
                <td style="width:150px;">
                    {{ include('ct_usage/_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
