{% extends 'base.html.twig' %}

{% block title %}Liste Type Historique{% endblock %}

{% block body %}
    <div class="box-header">Liste Type Historique</div><br>

    <table class="table liste">
        <thead>
            <tr>
                <th>Id</th>
                <th>libellé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_historique_type in ct_historique_types %}
            <tr>
                <td>{{ ct_historique_type.id }}</td>
                <td>{{ ct_historique_type.hstLibelle }}</td>
                <td>
                    <a href="{{ path('app_ct_historique_type_show', {'id': ct_historique_type.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('app_ct_historique_type_edit', {'id': ct_historique_type.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <div class="navigation">
        {{ knp_pagination_render(ct_historique_types) }}
    </div> #}

    <a href="{{ path('app_ct_historique_type_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a>
{% endblock %}
