{% extends 'base.html.twig' %}

{% block title %}Liste Régisseur{% endblock %}

{% block app_ct %}

<div class="box">
    <div class="box-header">Liste Régisseur</div><br>
    <div>
        <div>
            <a href="{{ path('app_ct_app_administration_creer_regisseur') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer un régisseur</a>
        </div>
        <div class="marge-elts">
            <table class="table liste">
                <thead>
                    <tr>
                    <th>Nom d'utilisateur</th>
                    <th>Rôles</th>
                    <th>Active</th>
                    <th>dernière connexion</th>
                    <th>mail</th>
                    <th>nom</th>
                    <th>adresse</th>
                    <th>created_at</th>
                    <th>updated_at</th>
                    <th>téléphone</th>
                    <th>nbr connexion</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for ct_user in ct_users %}
                    <tr>
                        <td>{{ ct_user.username }}</td>
                        <td>{{ ct_user.ctroleid }}</td>
                        <td>{{ ct_user.usrEnable ? 'Oui' : 'Non' }}</td>
                        <td>{{ ct_user.usrLastLogin ? ct_user.usrLastLogin|date('d/m/Y H:i:s') : '' }}</td>
                        <td>{{ ct_user.usrMail }}</td>
                        <td>{{ ct_user.usrNom }}</td>
                        <td>{{ ct_user.usrAdresse }}</td>
                        <td>{{ ct_user.usrCreatedAt ? ct_user.usrCreatedAt|date('d/m/Y H:i:s') : '' }}</td>
                        <td>{{ ct_user.usrUpdatedAt ? ct_user.usrUpdatedAt|date('d/m/Y H:i:s') : '' }}</td>
                        <td>{{ ct_user.usrTelephone }}</td>
                        <td>{{ ct_user.usrNbrConnexion }}</td>
                        <td>
                            <a href="{{ path('app_ct_app_administration_voir_regisseur', {'id': ct_user.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                            <a href="{{ path('app_ct_app_administration_edit_regisseur', {'id': ct_user.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <a href="{{ path('app_ct_app_administration_creer_regisseur') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Créer un régisseur</a>
        </div>  
    </div>
</div>
{% endblock %}
