{% extends 'base.html.twig' %}

{% block title %}Hello CtAppImprimableController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'E:/symfony/app_ct/controle_technique_v2/src/Controller/CtAppImprimableController.php'|file_link(0) }}">src/Controller/CtAppImprimableController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'E:/symfony/app_ct/controle_technique_v2/templates/ct_app_imprimable/index.html.twig'|file_link(0) }}">templates/ct_app_imprimable/index.html.twig</a></code></li>
    </ul>
    <a href="{{ path('app_ct_app_imprimable_proces_verbal_constatation', {'id': 10063}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> TESTE CONSTATATION</a>
    {# <a href="{{ path('app_ct_app_imprimable_proces_verbal_visite', {'id': 1709718}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> TESTE VISITE</a> #}
    <a href="{{ path('app_ct_app_imprimable_proces_verbal_visite', {'id': 1676794}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> TESTE VISITE</a>
    <a href="{{ path('app_ct_app_imprimable_proces_verbal_reception_isole', {'id': 155803}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> TESTE RECEPTION</a>
</div>
{% endblock %}
