{% for reception in receptions %}
    <html>
        <head>
            <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title>Proces Verbal réception technique par type</title>
            <style>
                html{margin:20px 20px 20px 20px;}
                .footer{
                    position:fixed;
                    bottom:0px;
                    left:0px;
                    right:40px;
                    height:20px;
                    align:center;

                    /** Extra personal styles **/
                    width: 100%;
                    /* background-color: #03a9f4; */
                    color: black;
                    margin-right: 20px;
                    text-align: center;
                    line-height: 20px;
                }
                .footer .page-number:after { content: counter(page); }
            </style>
        </head>
        <body style="font-size:10px;">
            <table style="font-size:10px">
                <tr>
                    <td width="200" align="center" style="line-height:1em;">
                        <strong>DIRECTION GENERALE DE LA SECURITE ROUTIERE</strong>
                        <br>-----------------------------<br>
                        <strong>DIRECTION DES OPERATIONS ROUTIERE</strong>
                        <br>-----------------------------<br>
                        <strong>
                            CENTRE DE SECURITE ROUTIERE<br>
                            {{ centre }} - {{ province }}
                        </strong>
                        <br>-----------------------------<br>
                        {# <img src="{{ logo }}" alt="logo" width="50px" height="50px" type="images/png"> #}
                        <img src="{{ logo }}" alt="logo" width="25px" height="25px" type="images/png">
                        <br>« LAHITOKANA NY AINA » 
                    </td>
                    <td width="150" align="center" valign="bottom" style="font-size:12px;">
                        <div align="center">
                            <strong>
                                ANNEXE IV<br>
                                ----------------
                            </strong>
                        </div>
                    </td>
                    <td width="200" align="center" valign="top" style="font-size:12px;">
                        {% set trans_day_hash = { 
                                "January": "Janvier", 
                                "February": "Février", 
                                "March": "Mars", 
                                "April": "Avril", 
                                "May": "Mai", 
                                "June": "Juin", 
                                "July": "Juillet",
                                "August": "Août",
                                "September": "Septembre",
                                "October": "Octobre",
                                "November": "Novembre",
                                "December": "Décembre" 
                            } 
                        %}
                        <strong>REPOBLIKAN’I MADAGASIKARA</strong><br>
                        <i>Fitiavana - Tanindrazana - Fandrosoana</i>
                        <br>--------------------------<br><br>
                        Enregistrer sous<br>
                        N° : <strong>{{ reception.rcp_num_pv }}</strong><br>
                        --------------------------
                        {# {{ province }}, le {{ "now"|date('d') }} {{ trans_day_hash["now"|date('F')] }} {{ "now"|date('Y') }}
                        <br><br>--------------------------<br><br> #}
                    </td>
                </tr>
            </table>
            <div align="center">
                <table width="225" style="font-size:14px;border:1px solid black;" align="center">
                    <tr align="center">
                        <td align="center">
                            <strong>
                                PROCES-VERBAL DE RECEPTION<br>
                                TECHNIQUE A TITRE {{ type }}
                            </strong>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="font-size:16px;margin:20px;">
                <div style="margin-left:20px;">
                    <i>
                        Il résulte des constatations effectuées le {{ reception.rcp_created|date('d') }} {{ trans_day_hash[reception.rcp_created|date('F')] }} {{ reception.rcp_created|date('Y') }} <br>
                        À la demande de Mr ou Mme :  {{ reception.rcp_proprietaire }} <br>
                        Adresse :  {{ reception.rcp_adresse }} <br>
                        Que le véhicule ci-dessous décrit
                    </i>
                </div>
                <div style="margin-left:40px;">
                    <table style="font-size:14px;border:0px solid black;line-height:1em;">
                        <tr style="margin-top:0px;margin-bottom:0px;">
                            <td width="200" style="margin-top:0px;margin-bottom:0px;">Genre</td>
                            <td width="10" style="margin-top:0px;margin-bottom:0px;"><strong> : </strong></td>
                            <td width="225" style="margin-top:0px;margin-bottom:0px;"><strong> {{ reception.ct_genre_id }} </strong></td>
                        </tr>
                        <tr style="margin-top:0px;margin-bottom:0px;">
                            <td width="200" style="margin-top:0px;margin-bottom:0px;">Marque</td>
                            <td width="10" style="margin-top:0px;margin-bottom:0px;"><strong> : </strong></td>
                            <td width="225" style="margin-top:0px;margin-bottom:0px;"><strong> {{ reception.ct_marque_id }} </strong></td>
                        </tr>
                        <tr style="margin-top:0px;margin-bottom:0px;">
                            <td width="200" style="margin-top:0px;margin-bottom:0px;">Type</td>
                            <td width="10" style="margin-top:0px;margin-bottom:0px;"><strong> : </strong></td>
                            <td width="225" style="margin-top:0px;margin-bottom:0px;"><strong> {{ reception.vhc_type }} </strong></td>
                        </tr>
                        <tr style="margin-top:0px;margin-bottom:0px;">
                            <td width="200" style="margin-top:0px;margin-bottom:0px;">Numéro dans la série du type</td>
                            <td width="10" style="margin-top:0px;margin-bottom:0px;"><strong> : </strong></td>
                            <td width="225" style="margin-top:0px;margin-bottom:0px;"><strong> {{ reception.vhc_num_serie }} </strong></td>
                        </tr>
                        <tr style="margin-top:0px;margin-bottom:0px;">
                            <td width="200" style="margin-top:0px;margin-bottom:0px;">Numéro du moteur</td>
                            <td width="10" style="margin-top:0px;margin-bottom:0px;"><strong> : </strong></td>
                            <td width="225" style="margin-top:0px;margin-bottom:0px;"><strong> {{ reception.vhc_num_moteur }} </strong></td>
                        </tr>
                        <tr style="margin-top:0px;margin-bottom:0px;">
                            <td width="200" style="margin-top:0px;margin-bottom:0px;">Source d'énergie</td>
                            <td width="10" style="margin-top:0px;margin-bottom:0px;"><strong> : </strong></td>
                            <td width="225" style="margin-top:0px;margin-bottom:0px;"><strong> {{ reception.ct_source_energie_id }} </strong></td>
                        </tr>
                        <tr style="margin-top:0px;margin-bottom:0px;">
                            <td width="200" style="margin-top:0px;margin-bottom:0px;">Cylindre (en Cm3)</td>
                            <td width="10" style="margin-top:0px;margin-bottom:0px;"><strong> : </strong></td>
                            <td width="225" style="margin-top:0px;margin-bottom:0px;"><strong> {{ reception.vhc_cylindre|number_format(0, ',', ' ') }} </strong></td>
                        </tr>
                        <tr style="margin-top:0px;margin-bottom:0px;">
                            <td width="200" style="margin-top:0px;margin-bottom:0px;">Puissance administrative (en CV)</td>
                            <td width="10" style="margin-top:0px;margin-bottom:0px;"><strong> : </strong></td>
                            <td width="225" style="margin-top:0px;margin-bottom:0px;"><strong> {{ reception.vhc_puissance|number_format(0, ',', ' ') }} </strong></td>
                        </tr>
                        <tr style="margin-top:0px;margin-bottom:0px;">
                            <td width="200" style="margin-top:0px;margin-bottom:0px;">Carrosserie</td>
                            <td width="10" style="margin-top:0px;margin-bottom:0px;"><strong> : </strong></td>
                            <td width="225" style="margin-top:0px;margin-bottom:0px;"><strong> {{ reception.ct_carrosserie_id }} </strong></td>
                        </tr>
                        <tr style="margin-top:0px;margin-bottom:0px;">
                            <td width="200" style="margin-top:0px;margin-bottom:0px;">Nombre de place assises</td>
                            <td width="10" style="margin-top:0px;margin-bottom:0px;"><strong> : </strong></td>
                            <td width="225" style="margin-top:0px;margin-bottom:0px;"><strong> {{ reception.rcp_nbr_assis|number_format(0, ',', ' ') }} </strong></td>
                        </tr>
                        <tr style="margin-top:0px;margin-bottom:0px;">
                            <td width="200" style="margin-top:0px;margin-bottom:0px;">Charge utile</td>
                            <td width="10" style="margin-top:0px;margin-bottom:0px;"><strong> : </strong></td>
                            <td width="225" style="margin-top:0px;margin-bottom:0px;"><strong> {{ reception.vhc_charge_utile|number_format(0, ',', ' ') }} </strong></td>
                        </tr>
                        <tr style="margin-top:0px;margin-bottom:0px;">
                            <td width="200" style="margin-top:0px;margin-bottom:0px;">Poids à vide</td>
                            <td width="10" style="margin-top:0px;margin-bottom:0px;"><strong> : </strong></td>
                            <td width="225" style="margin-top:0px;margin-bottom:0px;"><strong> {{ reception.vhc_poids_vide|number_format(0, ',', ' ') }} </strong></td>
                        </tr>
                        <tr style="margin-top:0px;margin-bottom:0px;">
                            <td width="200" style="margin-top:0px;margin-bottom:0px;">Poids total autorisé en charge</td>
                            <td width="10" style="margin-top:0px;margin-bottom:0px;"><strong> : </strong></td>
                            <td width="225" style="margin-top:0px;margin-bottom:0px;"><strong> {{ reception.vhc_poids_total_charge|number_format(0, ',', ' ') }} </strong></td>
                        </tr>
                        <tr style="margin-top:0px;margin-bottom:0px;">
                            <td width="200" style="margin-top:0px;margin-bottom:0px;">Année de première mise en circulation</td>
                            <td width="10" style="margin-top:0px;margin-bottom:0px;"><strong> : </strong></td>
                            <td width="225" style="margin-top:0px;margin-bottom:0px;"><strong> {{ reception.rcp_mise_service|date('d') }} {{ trans_day_hash[reception.rcp_mise_service|date('F')] }} {{ reception.rcp_mise_service|date('Y') }} </strong></td>
                        </tr>
                        <tr style="margin-top:0px;margin-bottom:0px;">
                            <td width="200" style="margin-top:0px;margin-bottom:0px;">Précédent numéro d'immatriculation</td>
                            <td width="10" style="margin-top:0px;margin-bottom:0px;"><strong> : </strong></td>
                            <td width="225" style="margin-top:0px;margin-bottom:0px;"><strong> {{ reception.rcp_immatriculation }} </strong></td>
                        </tr>
                        <tr style="margin-top:0px;margin-bottom:0px;">
                            <td width="200" style="margin-top:0px;margin-bottom:0px;">Motif de la présente réception</td>
                            <td width="10" style="margin-top:0px;margin-bottom:0px;"><strong> : </strong></td>
                            <td width="300" style="margin-top:0px;margin-bottom:0px;"><strong> {{ reception.ct_motif_id }} </strong></td>
                        </tr>
                    </table>
                </div>
                <div align="center" style="font-size:13px;">
                    <i>
                        Satisfait aux articles R66 à R71 ; R76 à R103 ; R109 et R110 du décret N° 71 138 du 23 mars 1971<br>
                        Portant sur la réglementation générale sur la police de circulation routière (code de la route)<br><br>
                    </i>
                </div>
                <strong><hr></strong>
                <div align="center" style="font-size:14px;">
                    <strong>{{ centre }}</strong><br>
                    <strong>{{ province }}</strong><br>
                    <strong>----------------</strong>
                </div>
                <div align="right" style="font-size:13px;">
                    <strong>L’EXPERT CHARGE DE LA RECEPTION TECHNIQUE</strong>
                </div>
                <div style="margin-top:150px;margin-left:20px;">
                    <table style="font-size:13px;border:0px solid black;line-height:1em;">
                        <tr>
                            <td width="100">Enregistrer sous</td>
                            <td width="10"> : </td>
                            <td width="400"><strong>N° {{ reception.rcp_num_pv }}</strong> du <strong>{{ reception.rcp_mise_service|date('d') }} {{ trans_day_hash[reception.rcp_mise_service|date('F')] }} {{ reception.rcp_mise_service|date('Y') }}</strong></td>
                        </tr>
                        <tr>
                            <td width="100">Doit</td>
                            <td width="10"> : </td>
                            <td width="400"><strong>{{ reception.rcp_proprietaire }}</strong></td>
                        </tr>
                        <tr>
                            <td width="100">Adresse</td>
                            <td width="10"> : </td>
                            <td width="400"><strong>{{ reception.rcp_adresse }}</strong></td>
                        </tr>
                        <tr>
                            <td width="100">Motif de réception</td>
                            <td width="10"> : </td>
                            <td width="400"><strong>{{ reception.ct_motif_id }}</strong></td>
                        </tr>
                        <tr>
                            <td width="100">Genre de véhicule</td>
                            <td width="10"> : </td>
                            <td width="400"><strong>{{ reception.ct_genre_id }}</strong></td>
                        </tr>
                        <tr>
                            <td width="100">Immatriculation</td>
                            <td width="10"> : </td>
                            <td width="400"><strong>{{ reception.rcp_immatriculation }}</strong></td>
                        </tr>
                        <tr>
                            <td width="100">Droit de réception</td>
                            <td width="10"> : </td>
                            <td width="400"><strong>Ar {{ total_des_droits|number_format(0, ',', ' ') }}</strong></td>
                        </tr>
                        <tr>
                            <td width="100">Prix du procès-verbal</td>
                            <td width="10"> : </td>
                            <td width="400"><strong>Ar {{ total_des_prix_pv|number_format(0, ',', ' ') }}</strong></td>
                        </tr>
                        {% if total_des_plaques > 0 %}
                            <tr>
                                <td width="100">Prix du procès-verbal</td>
                                <td width="10"> : </td>
                                <td width="400"><strong>Ar {{ total_des_plaques|number_format(0, ',', ' ') }}</strong></td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td width="100">THT</td>
                            <td width="10"> : </td>
                            <td width="400"><strong>Ar {{ total_des_tht|number_format(0, ',', ' ') }}</strong></td>
                        </tr>
                        <tr>
                            <td width="100">TVA</td>
                            <td width="10"> : </td>
                            <td width="400"><strong>Ar {{ total_des_tva|number_format(0, ',', ' ') }}</strong></td>
                        </tr>
                        <tr>
                            <td width="100">Timbre</td>
                            <td width="10"> : </td>
                            <td width="400"><strong>Ar {{ total_des_timbres|number_format(0, ',', ' ') }}</strong></td>
                        </tr>
                        <tr>
                            <td width="100"><strong>Montant</strong></td>
                            <td width="10"> : </td>
                            <td width="400"><strong>Ar {{ montant_total|number_format(0, ',', ' ') }}</strong></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="footer">
                <span>Direction Générale de la Sécurité Routière BP 784 Alarobia Antananarivo NIF : 4001 089525 STAT : 71102 11 2006 0 043 19</span>
                {# <script type="text/php">
                    if ( isset($pdf) ) {
                        // OLD 
                        // $font = Font_Metrics::get_font("helvetica", "bold");
                        // $pdf->page_text(72, 18, "{PAGE_NUM} of {PAGE_COUNT}", $font, 6, array(255,0,0));
                        // v.0.7.0 and greater
                        $x = 750;
                        $y = 575;
                        $text = "page : {PAGE_NUM} sur {PAGE_COUNT}";
                        $font = $fontMetrics->get_font("helvetica", "bold");
                        $size = 8;
                        $color = array(0, 0, 0);
                        $word_space = 0.0;  //  default
                        $char_space = 0.0;  //  default
                        $angle = 0.0;   //  default
                        $pdf->page_text($x, $y, $text, $font, $size, $color, $word_space, $char_space, $angle);
                    }
                </script> #}
            </div>
        </body>
    </html>
{% endfor %}