{% extends 'base.html.twig' %}

{% block title %}Liste Bordereau{% endblock %}

{% block body %}
    <div class="box-header">Liste Bordereau</div><br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>numero</th>
                <th>début numéro</th>
                <th>fin numéro</th>
                <th>created_at</th>
                <th>updated_at</th>
                <th>Reférence</th>
                <th>Date reférencer</th>
                <th>observation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_bordereau in ct_bordereaus %}
            <tr>
                <td>{{ ct_bordereau.id }}</td>
                <td>{{ ct_bordereau.blNumero }}</td>
                <td>{{ ct_bordereau.blDebutNumero }}</td>
                <td>{{ ct_bordereau.blFinNumero }}</td>
                <td>{{ ct_bordereau.blCreatedAt ? ct_bordereau.blCreatedAt|date('d/m/Y') : '' }}</td>
                <td>{{ ct_bordereau.blUpdatedAt ? ct_bordereau.blUpdatedAt|date('d/m/Y') : '' }}</td>
                <td>{{ ct_bordereau.refExpr }}</td>
                <td>{{ ct_bordereau.dateRefExpr ? ct_bordereau.dateRefExpr|date('d/m/Y') : '' }}</td>
                <td>{{ ct_bordereau.blObservation }}</td>
                <td>
                    <a href="{{ path('app_ct_bordereau_show', {'id': ct_bordereau.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('app_ct_bordereau_edit', {'id': ct_bordereau.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(ct_bordereaus) }}
    </div>

    <a href="{{ path('app_ct_bordereau_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a>
{% endblock %}
