{% extends 'base.html.twig' %}

{% block title %}Liste Autre Vente{% endblock %}

{% block body %}
    <div class="box-header">Liste Autre Vente</div><br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>est-visible</th>
                <th>created_at</th>
                <th>Controle id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_autre_vente in ct_autre_ventes %}
            <tr>
                <td>{{ ct_autre_vente.id }}</td>
                <td>{{ ct_autre_vente.auvIsVisible ? 'Oui' : 'Non' }}</td>
                <td>{{ ct_autre_vente.auvCreatedAt ? ct_autre_vente.auvCreatedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ ct_autre_vente.controleId }}</td>
                <td>
                    <a href="{{ path('app_ct_autre_vente_show', {'id': ct_autre_vente.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('app_ct_autre_vente_edit', {'id': ct_autre_vente.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(ct_autre_ventes) }}
    </div>

    <a href="{{ path('app_ct_autre_vente_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a>
{% endblock %}
