{% extends 'base.html.twig' %}

{% block title %}Liste Type Visitex{% endblock %}

{% block body %}
    <div class="box-header">Liste Type Visite</div><br>

    <table class="table liste">
        <thead>
            <tr>
                <th>Id</th>
                <th>libellé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_type_visite in ct_type_visites %}
            <tr>
                <td>{{ ct_type_visite.id }}</td>
                <td>{{ ct_type_visite.tpvLibelle }}</td>
                <td>
                    <a href="{{ path('app_ct_type_visite_show', {'id': ct_type_visite.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('app_ct_type_visite_edit', {'id': ct_type_visite.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <div class="navigation">
        {{ knp_pagination_render(ct_type_visites) }}
    </div> #}

    <a href="{{ path('app_ct_type_visite_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a>
{% endblock %}
