{% extends 'base.html.twig' %}

{% block title %}Type Constatation{% endblock %}

{% block body %}
    <div class="box-header">Type Constatation</div><br>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_const_av_ded_type.id }}</td>
            </tr>
            <tr>
                <th>libellé</th>
                <td>{{ ct_const_av_ded_type.cadTpLibelle }}</td>
            </tr>
        </tbody>
    </table>
	
	<table class="table" style="width:450px;">
        <tbody>
            <tr>
                <td style="width:150px;">
                    <a href="{{ path('app_ct_const_av_ded_type_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
                </td>
                <td style="width:150px;">
                    <a href="{{ path('app_ct_const_av_ded_type_edit', {'id': ct_const_av_ded_type.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>
                </td>
                <td style="width:150px;">
                    {{ include('ct_const_av_ded_type/_delete_form.html.twig') }} 
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
