{% extends 'base.html.twig' %}

{% block title %}Liste Catégorie des Genres{% endblock %}

{% block body %}
    <div class="box-header">Liste Catégorie des Genres</div><br>

    <table class="table liste">
        <thead>
            <tr>
                <th>Id</th>
                <th>libellé</th>
                <th>est-calculable</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_genre_categorie in ct_genre_categories %}
            <tr>
                <td>{{ ct_genre_categorie.id }}</td>
                <td>{{ ct_genre_categorie.gcLibelle }}</td>
                <td>{{ ct_genre_categorie.gcIsCalculable ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('app_ct_genre_categorie_show', {'id': ct_genre_categorie.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('app_ct_genre_categorie_edit', {'id': ct_genre_categorie.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <div class="navigation">
        {{ knp_pagination_render(ct_genre_categories) }}
    </div> #}

    <a href="{{ path('app_ct_genre_categorie_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a>
{% endblock %}
