{% extends 'base.html.twig' %}

{% block title %}Statistique Autre Service{% endblock %}

{% block app_ct %}
<div class="box">
    <div class="box-header">STATISTIQUE AUTRE SERVICE</div>
</div>
{# <div class="box"> #}
<table class="table" style="width:100%;">
    <tbody>
        <tr>
            <td style="width:25%;">
                <div class="box"  style="height:370px;">
                    <div class="entete-formulaire">Annuel</div><br>
                    {{ form_start(form_annuel) }}
                        {{ form_row(form_annuel.annee) }}
                        {% if is_granted("ROLE_ADMIN") %}
                            {{ form_row(form_annuel.ct_centre_id) }}
                        {% else %}
                            {% do form_annuel.ct_centre_id.setRendered() %}
                        {% endif %}
                        <button class="btn btn-primary" type="submit" formaction="{{ path('app_ct_app_statistique_statistique_autre_service') }}">Générer</button>
                    {{ form_end(form_annuel) }}
                </div>
            </td>
            <td style="width:25%;">
                <div class="box"  style="height:370px;">
                    <div class="entete-formulaire">Semestriel</div><br>
                    {{ form_start(form_semestriel) }}
                        {{ form_row(form_semestriel.annee) }}
                        {{ form_row(form_semestriel.semestre) }}
                        {% if is_granted("ROLE_ADMIN") %}
                            {{ form_row(form_semestriel.ct_centre_id) }}
                        {% else %}
                            {% do form_semestriel.ct_centre_id.setRendered() %}
                        {% endif %}
                        <button class="btn btn-primary" type="submit" formaction="{{ path('app_ct_app_statistique_statistique_autre_service') }}">Générer</button>
                    {{ form_end(form_semestriel) }}
                </div>
            </td>
            <td style="width:25%;">
                <div class="box"  style="height:370px;">
                    <div class="entete-formulaire">Trimestriel</div><br>
                    {{ form_start(form_trimestriel) }}
                        {{ form_row(form_trimestriel.annee) }}
                        {{ form_row(form_trimestriel.trimestre) }}
                        {% if is_granted("ROLE_ADMIN") %}
                            {{ form_row(form_trimestriel.ct_centre_id) }}
                        {% else %}
                            {% do form_trimestriel.ct_centre_id.setRendered() %}
                        {% endif %}
                        <button class="btn btn-primary" type="submit" formaction="{{ path('app_ct_app_statistique_statistique_autre_service') }}">Générer</button>
                    {{ form_end(form_trimestriel) }}
                </div>
            </td>
            <td style="width:25%;">
                <div class="box"  style="height:370px;">
                    <div class="entete-formulaire">Mensuel</div><br>
                    {{ form_start(form_mensuel) }}
                        {{ form_row(form_mensuel.annee) }}
                        {{ form_row(form_mensuel.mois) }}
                        {% if is_granted("ROLE_ADMIN") %}
                            {{ form_row(form_mensuel.ct_centre_id) }}
                        {% else %}
                            {% do form_mensuel.ct_centre_id.setRendered() %}
                        {% endif %}
                        <div style="height:88px;"></div>
                        <button class="btn btn-primary" type="submit" formaction="{{ path('app_ct_app_statistique_statistique_autre_service') }}">Générer</button>
                    {{ form_end(form_mensuel) }}
                </div>
            </td>
        </tr>
    </tbody>
</table>
{# </div> #}
{% endblock %}
