{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
    <div class="box-header">Historique</div><br>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_historique.id }}</td>
            </tr>
            <tr>
                <th>description</th>
                <td>{{ ct_historique.hstDescription }}</td>
            </tr>
            <tr>
                <th>created_at</th>
                <td>{{ ct_historique.hstDateCreatedAt ? ct_historique.hstDateCreatedAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>vue</th>
                <td>{{ ct_historique.hstIsView }}</td>
            </tr>
        </tbody>
    </table>
	
	<table class="table" style="width:450px;">
        <tbody>
            <tr>
                <td style="width:150px;">
                    <a href="{{ path('app_ct_historique_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
                </td>
                <td style="width:150px;">
                    <a href="{{ path('app_ct_historique_edit', {'id': ct_historique.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>
                </td>
                <td style="width:150px;">
                    {{ include('ct_historique/_delete_form.html.twig') }} 
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
