{% extends 'base.html.twig' %}

{% block title %}Création réception{% endblock %}

{% block app_ct %}
<div class="box">
    <div class="box-header">CREATION RECEPTION</div><br>
</div>
<table class="table bordure" style="width:100%;">
    <tbody>
        <tr>
            <td style="width:50%;">
                <div class="box">
                    <div class="entete-formulaire">Nouvelle réception</div><hr>
                    {{ form_start(form_nouvelle_reception) }}
                        {{ form_row(form_nouvelle_reception.ct_type_reception_id) }}
                    {{ form_end(form_nouvelle_reception) }}
                    <div class="isole">
                        <a href="{{ path('app_ct_app_reception_creer_reception_isole') }}" class="btn btn-success">Créer</a>
                    </div>
                    <div class="par_type">
                        <form class="mt-2 mt-md-0 d-none d-lg-block search-input" action="{{ path('app_ct_app_reception_creer_reception_par_type') }}">
                            <strong>Nombre de véhicule :</strong><br>
                            <span class="input-group-addon d-flex align-items-center"><i class="icon-magnifier icons"></i></span>
                            <input type="number" min="1" name="nombre_vehicule" id="nombre_vehicule" class="form-control" value="1" placeholder="nombre de véhicule..." required><br>
                            <button class="btn btn-success" type="submit">
                                Créer
                            </button>
                        </form>
                    </div>
                </div>
            </td>
            <td style="width:50%;">
                <div class="box">
                    <div class="entete-formulaire">Bilan</div><hr>
                    {{ form_start(form_bilan) }}
                        {{ form_row(form_bilan.ct_type_reception_id) }}
                        {{ form_row(form_bilan.date) }}
                        {% if is_granted("ROLE_ADMIN") %}
                            {{ form_row(form_bilan.ct_centre_id) }}
                        {% else %}
                            {% do form_bilan.ct_centre_id.setRendered() %}
                        {% endif %}
                        <table>
                            <tr>
                                <td>
                                    <button class="btn btn-success" type="submit" formaction="{{ path('app_ct_app_imprimable_feuille_de_caisse_reception') }}" style="float:right">
                                        Feuille de caisse
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="submit" formaction="{{ path('app_ct_app_imprimable_fiche_de_controle_reception') }}" style="float:right">
                                        Fiche de Contrôle
                                    </button>
                                </td>
                            </tr>
                        </table>
                    {{ form_end(form_bilan) }}
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
