{% extends 'base.html.twig' %}

{% block title %}Créer visite{% endblock %}

{% block app_ct %}
<div class="box">
    {# <div class="box-header-right"></div>
    <div class="box-header-left"></div> #}
    <div class="box-header">CREATION VISITE</div>
</div>
<table class="table" style="width:100%;">
    <tbody>
        <tr>
            <td style="width:33%;">
                <div class="box">
                    <div class="entete-formulaire">Feuille de caisse</div><br>
                    {{ form_start(form_feuille_de_caisse) }}
                        {# {{ form_widget(form_feuille_de_caisse) }} #}
                        {{ form_row(form_feuille_de_caisse.date) }}
                        {{ form_row(form_feuille_de_caisse.ct_type_visite_id) }}
                        {% if is_granted("ROLE_ADMIN") %}
                            {{ form_row(form_feuille_de_caisse.ct_centre_id) }}
                        {% else %}
                            {% do form_feuille_de_caisse.ct_centre_id.setRendered() %}
                        {% endif %}
                        <button class="btn btn-primary" type="submit" formaction="{{ path('app_ct_app_imprimable_feuille_de_caisse_visite') }}">Générer</button>
                    {{ form_end(form_feuille_de_caisse) }}
                </div>
            </td>
            <td style="width:33%;">
                <div class="box-verificateur">
                    <div class="entete-formulaire">Fiche vérificateur</div><br>
                    {{ form_start(form_fiche_verificateur) }}
                        {# {{ form_widget(form_fiche_verificateur) }} #}
                        {{ form_row(form_fiche_verificateur.date) }}
                        {% if is_granted("ROLE_ADMIN") %}
                            {{ form_row(form_fiche_verificateur.ct_centre_id) }}
                        {% else %}
                            {% do form_fiche_verificateur.ct_centre_id.setRendered() %}
                        {% endif %}
                        {{ form_row(form_fiche_verificateur.ct_user_id) }}
                        <button class="btn btn-primary" type="submit" formaction="{{ path('app_ct_app_imprimable_fiche_verificateur') }}">Générer</button>
                    {{ form_end(form_fiche_verificateur) }}
                </div>
            </td>
            <td style="width:33%;">
                <div class="box-anomalie">
                    <div class="entete-formulaire">Liste anomalies</div><br>
                    {{ form_start(form_liste_anomalies) }}
                        {# {{ form_widget(form_liste_anomalies) }} #}
                        {{ form_row(form_liste_anomalies.date) }}
                        {% if is_granted("ROLE_ADMIN") %}
                            {{ form_row(form_liste_anomalies.ct_centre_id) }}
                        {% else %}
                            {% do form_liste_anomalies.ct_centre_id.setRendered() %}
                        {% endif %}
                        <br><br><br><br>
                        <button class="btn btn-primary" type="submit" formaction="{{ path('app_ct_app_imprimable_liste_anomalies') }}">Générer</button>
                    {{ form_end(form_liste_anomalies) }}
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="box">
    <div class="entete-formulaire">Recherche</div><br>
    <div>
        <table class="table" style="width:100%;">
            <tbody>
                <tr>
                    <td style="width:50%;">
                        <form method="POST" class="mt-2 mt-md-0 d-none d-lg-block search-input" action="{{ path('app_ct_app_visite_creer_visite') }}">
                            <div class="">
                                <strong>Par numéro d'immatriculation :</strong><br>
                                <span class="input-group-addon d-flex align-items-center"><i class="icon-magnifier icons"></i></span>
                                <input type="text" name="search-immatriculation" id="search-immatriculation" class="form-control" placeholder="numéro d'immatriculation...">
                                <button class="btn btn-primary" type="submit" style="float:right">
                                    Rechercher
                                </button>
                            </div>
                        </form>
                    </td>
                    <td style="width:50%;">
                        <form method="POST" class="mt-2 mt-md-0 d-none d-lg-block search-input" action="{{ path('app_ct_app_visite_creer_visite') }}">
                            <div class="">
                                <strong>Par numéro dans la série du type :</strong><br>
                                <span class="input-group-addon d-flex align-items-center"><i class="icon-magnifier icons"></i></span>
                                <input type="text" name="search-numero-serie" id="search-numero-serie" class="form-control" placeholder="numéro de série...">
                                <button class="btn btn-primary" type="submit" style="float:right">
                                    Rechercher
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{# à mettre ici un message flash quand l'information véhicule n'existe pas #}
{% if enregistrement_ok is not empty or enregistrement_ok is not null %}
    {% if enregistrement_ok == true %}
        <div style="text-align:center;align:center;color:white;background-color:green">
            {{ message }}
        </div>
    {% endif %}
    {% if enregistrement_ok == false %}
        <div style="text-align:center;align:center;color:white;background-color:red">
            {{ message }}
        </div>
    {% endif %}
{% endif %}

{{ form_start(form_visite) }}
    {# {{ form_widget(form_carte_grise.ct_vehicule_id) }} #}
    <table class="table bordure" style="width:100%;">
        <tbody>
            <tr>
                <td style="width:50%;">
                    <div class="box">
                        <div class="entete-formulaire">Information carte grise</div><hr>
                            {{ form_row(form_visite.ct_carte_grise_id.ct_centre_id) }}
                            {{ form_row(form_visite.ct_carte_grise_id.cg_date_emission) }}
                            {{ form_row(form_visite.ct_carte_grise_id.cg_immatriculation) }}
                            {{ form_row(form_visite.ct_carte_grise_id.cg_num_identification) }}
                            {{ form_row(form_visite.ct_carte_grise_id.cg_nom) }}
                            {{ form_row(form_visite.ct_carte_grise_id.cg_prenom) }}
                            {{ form_row(form_visite.ct_carte_grise_id.cg_profession) }}
                            {{ form_row(form_visite.ct_carte_grise_id.cg_adresse) }}
                            {{ form_row(form_visite.ct_carte_grise_id.cg_phone) }}
                            {{ form_row(form_visite.ct_carte_grise_id.cg_commune) }}
                            {{ form_row(form_visite.ct_carte_grise_id.ct_utilisation_id) }}
                            <hr>
                            {{ form_row(form_visite.ct_carte_grise_id.cg_is_transport) }}
                            <div class="sitransport">
                            {{ form_row(form_visite.ct_carte_grise_id.cg_nom_cooperative) }}
                            {{ form_row(form_visite.ct_carte_grise_id.cg_itineraire) }}
                            {{ form_row(form_visite.ct_carte_grise_id.cg_num_vignette) }}
                            {{ form_row(form_visite.ct_carte_grise_id.cg_lieu_vignette) }}
                            {{ form_row(form_visite.ct_carte_grise_id.cg_date_vignette) }}
                            {# {{ form_row(form_visite.ct_carte_grise_id.ct_zone_desserte_id) }} #}
                            {# {% do form_visite.ct_carte_grise_id.ct_zone_desserte_id.setRendered() %} #}
                            </div>
                            <hr>
                            {{ form_row(form_visite.ct_carte_grise_id.cg_num_carte_violette) }}
                            {{ form_row(form_visite.ct_carte_grise_id.cg_lieu_carte_violette) }}
                            {{ form_row(form_visite.ct_carte_grise_id.cg_date_carte_violette) }}
                            {{ form_row(form_visite.ct_carte_grise_id.cg_patente) }}
                            {{ form_row(form_visite.ct_carte_grise_id.cg_ani) }}
                    </div>
                    <div class="box">
                        <div class="entete-formulaire">Information véhicule</div><hr>
                            {{ form_row(form_visite.ct_carte_grise_id.ct_vehicule_id.ct_genre_id) }}
                            {{ form_row(form_visite.ct_carte_grise_id.ct_vehicule_id.vhc_type) }}
                            {{ form_row(form_visite.ct_carte_grise_id.ct_vehicule_id.ct_marque_id) }}
                            {{ form_row(form_visite.ct_carte_grise_id.ct_vehicule_id.vhc_num_serie) }}
                            {{ form_row(form_visite.ct_carte_grise_id.ct_carrosserie_id) }}
                            {{ form_row(form_visite.ct_carte_grise_id.ct_vehicule_id.vhc_num_moteur) }}
                            {{ form_row(form_visite.ct_carte_grise_id.ct_source_energie_id) }}
                            {{ form_row(form_visite.ct_carte_grise_id.ct_vehicule_id.vhc_cylindre) }}
                            {{ form_row(form_visite.ct_carte_grise_id.ct_vehicule_id.vhc_puissance) }}
                            {{ form_row(form_visite.ct_carte_grise_id.cg_nbr_assis) }}
                            {{ form_row(form_visite.ct_carte_grise_id.ct_vehicule_id.vhc_poids_vide) }}
                            {{ form_row(form_visite.ct_carte_grise_id.ct_vehicule_id.vhc_charge_utile) }}
                            {{ form_row(form_visite.ct_carte_grise_id.ct_vehicule_id.vhc_poids_total_charge) }}
                            {{ form_row(form_visite.ct_carte_grise_id.cg_mise_en_service) }}
                    </div>
                </td>

                <td style="width:50%;">
                    <div class="box">
                        <div class="entete-formulaire">Information visite technique</div><hr>
                            {# <input type="text" name="immatriculation" id="immatriculation" class="form-control" value="{{ immatriculation }}" placeholder="immatriculation..." required disabled><br> #}
                            {# <div class="form-group"><label for="ct_visite_visite_ct_carte_grise_id">Carte Grise identification</label><input type="text" id="ct_visite_visite_ct_carte_grise_id" name="ct_visite_visite[ct_carte_grise_id]" maxlength="255" class="form-control" value="{{ immatriculation }}" /></div> #}
                            {{ form_row(form_visite.vst_observation) }}
                            {{ form_row(form_visite.ct_centre_id) }}
                            {{ form_row(form_visite.ct_type_visite_id) }}
                            {{ form_row(form_visite.ct_usage_id) }}
                            {# {{ form_row(form_visite.ct_utilisation_id) }} #}
                            {{ form_row(form_visite.vst_anomalie_id) }}
                            <div class="duree">
                            {{ form_row(form_visite.vst_duree_reparation) }}
                            </div>
                            {{ form_row(form_visite.vst_date_expiration) }}
                            {# {{ form_row(form_visite.vst_date_expiration) }} #}
                            {{ form_row(form_visite.ct_verificateur_id) }}
                            {# {{ form_row(form_visite.vst_extra) }} #}
                            {{ form_row(form_visite.vst_imprime_tech_id) }}
                            {# {{ form_row(form_visite.ct_imprime_tech_use_id) }} #}

                    </div>

                    {# <div>
                        <div class="entete-formulaire">Imprimé technique utilsé</div><br>
                        {{ form_start(form_imprime_technique) }}
                            {{ form_row(form_imprime_technique.ct_imprime_tech_use_id) }}
                        {{ form_end(form_imprime_technique) }}
                    </div> #}
                </td>
            </tr>
            <tr>
            </tr>
        </tbody>
    </table>
    <div class="box">
        <button class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> {{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form_visite) }}
{% endblock %}
