{% extends 'base.html.twig' %}

{% block title %}Recherche véhicule{% endblock %}

{% block app_ct %}

<div class="box">
    <div class="box-header">RENSEIGNEMENT VEHICULE</div>
</div>

<div class="box">
    <div class="entete-formulaire">Recherche</div><br>
    <div>
        <table class="table" style="width:100%;">
            <tbody>
                <tr>
                    <td style="width:30%;">
                        <form method="POST" class="mt-2 mt-md-0 d-none d-lg-block search-input" action="{{ path('app_ct_app_visite_recherche_vehicule') }}">
                            <div class="">
                                <strong>Par numéro d'immatriculation :</strong><br>
                                <span class="input-group-addon d-flex align-items-center"><i class="icon-magnifier icons"></i></span>
                                <input type="text" name="search-immatriculation" id="search-immatriculation" class="form-control" placeholder="numéro d'immatriculation...">
                                <button class="btn btn-primary" type="submit" style="float:right">
                                    Rechercher
                                </button>
                            </div>
                        </form>
                    </td>
                    <td style="width:30%;">
                        <form method="POST" class="mt-2 mt-md-0 d-none d-lg-block search-input" action="{{ path('app_ct_app_visite_recherche_vehicule') }}">
                            <div class="">
                                <strong>Par numéro dans la série du type :</strong><br>
                                <span class="input-group-addon d-flex align-items-center"><i class="icon-magnifier icons"></i></span>
                                <input type="text" name="search-numero-serie" id="search-numero-serie" class="form-control" placeholder="numéro de série...">
                                <button class="btn btn-primary" type="submit" style="float:right">
                                    Rechercher
                                </button>
                            </div>
                        </form>
                    </td>
                    <td style="width:30%;">
                        <form method="POST" class="mt-2 mt-md-0 d-none d-lg-block search-input" action="{{ path('app_ct_app_visite_recherche_vehicule') }}">
                            <div class="">
                                <strong>Par numéro d'identification :</strong><br>
                                <span class="input-group-addon d-flex align-items-center"><i class="icon-magnifier icons"></i></span>
                                <input type="text" name="search-identification" id="search-identification" class="form-control" placeholder="numéro d'identification...">
                                <button class="btn btn-primary" type="submit" style="float:right">
                                    Rechercher
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{# à mettre ici un message flash quand l'information véhicule n'existe pas #}
{% if enregistrement_ok is not empty or enregistrement_ok is not null %}
    {% if enregistrement_ok == true %}
        <div style="text-align:center;align:center;color:white;background-color:green">
            {{ message }}
        </div>
    {% endif %}
    {% if enregistrement_ok == false %}
        <div style="text-align:center;align:center;color:white;background-color:red">
            {{ message }}
        </div>
    {% endif %}
{% endif %}

{{ form_start(form_carte_grise) }}
    {# {{ form_widget(form_carte_grise.ct_vehicule_id) }} #}
    <table class="table bordure" style="width:100%;">
        <tbody>
            <tr>
                <td style="width:50%;">
                    <div class="box">
                        <div class="entete-formulaire">Information carte grise</div><hr>
                            {{ form_row(form_carte_grise.ct_centre_id) }}
                            {{ form_row(form_carte_grise.cg_date_emission) }}
                            {{ form_row(form_carte_grise.cg_immatriculation) }}
                            {{ form_row(form_carte_grise.cg_num_identification) }}
                            {{ form_row(form_carte_grise.cg_nom) }}
                            {{ form_row(form_carte_grise.cg_prenom) }}
                            {{ form_row(form_carte_grise.cg_profession) }}
                            {{ form_row(form_carte_grise.cg_adresse) }}
                            {{ form_row(form_carte_grise.cg_phone) }}
                            {{ form_row(form_carte_grise.cg_commune) }}
                            {{ form_row(form_carte_grise.ct_utilisation_id) }}
                            <hr>
                            {{ form_row(form_carte_grise.cg_is_transport) }}
                            <div class="sitransport">
                            {{ form_row(form_carte_grise.cg_nom_cooperative) }}  
                            {{ form_row(form_carte_grise.cg_itineraire) }}   
                            {{ form_row(form_carte_grise.cg_num_vignette) }}
                            {{ form_row(form_carte_grise.cg_lieu_vignette) }}
                            {{ form_row(form_carte_grise.cg_date_vignette) }} 
                            {# {{ form_row(form_carte_grise.ct_zone_desserte_id) }} #}
                            </div>
                            <hr>
                            {{ form_row(form_carte_grise.cg_num_carte_violette) }}
                            {{ form_row(form_carte_grise.cg_lieu_carte_violette) }}
                            {{ form_row(form_carte_grise.cg_date_carte_violette) }}
                            {{ form_row(form_carte_grise.cg_patente) }}                            
                            {{ form_row(form_carte_grise.cg_ani) }}
                    </div>
                </td>
                
                <td style="width:50%;">
                    <div class="box">
                        <div class="entete-formulaire">Information véhicule</div><hr>
                            {{ form_row(form_carte_grise.ct_vehicule_id.ct_genre_id) }}
                            {{ form_row(form_carte_grise.ct_vehicule_id.vhc_type) }}
                            {{ form_row(form_carte_grise.ct_vehicule_id.ct_marque_id) }}
                            {{ form_row(form_carte_grise.ct_vehicule_id.vhc_num_serie) }}
                            {{ form_row(form_carte_grise.ct_carrosserie_id) }}
                            {{ form_row(form_carte_grise.ct_vehicule_id.vhc_num_moteur) }}
                            {{ form_row(form_carte_grise.ct_source_energie_id) }}
                            {{ form_row(form_carte_grise.ct_vehicule_id.vhc_cylindre) }}
                            {{ form_row(form_carte_grise.ct_vehicule_id.vhc_puissance) }}
                            {{ form_row(form_carte_grise.cg_nbr_assis) }}
                            {{ form_row(form_carte_grise.ct_vehicule_id.vhc_poids_vide) }}
                            {{ form_row(form_carte_grise.ct_vehicule_id.vhc_charge_utile) }}
                            {{ form_row(form_carte_grise.ct_vehicule_id.vhc_poids_total_charge) }}
                            {{ form_row(form_carte_grise.cg_mise_en_service) }}
                            <input type="hidden" id="immatriculation" name="immatriculation" value="{{ immatriculation }}">
                    </div>
                </td>
            </tr>
            <tr>
            </tr>
        </tbody>
    </table>
    <div class="box">
        {# <button class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> {{ button_label|default('Caractéristique') }}</button> #}
        <a href="{{ path('app_ct_app_imprimable_caracteristique', {'id': ct_carte_grise.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Caractéristique</a>
    </div>
{{ form_end(form_carte_grise) }}
{% endblock %}
