{% extends 'base.html.twig' %}

{% block title %}Liste Carte Grise{% endblock %}

{% block body %}
    <div class="box-header">Liste Carte Grise</div><br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>date émission</th>
                <th>nom</th>
                <th>prénom</th>
                <th>profession</th>
                <th>adresse</th>
                <th>téléphone</th>
                <th>commune</th>
                <th>nbr assis</th>
                <th>nbr debout</th>
                <th>puissance</th>
                <th>mise en service</th>
                <th>patente</th>
                <th>ani</th>
                <th>rta</th>
                <th>num carte violette</th>
                <th>date carte violette</th>
                <th>lieu carte violette</th>
                <th>num vignette</th>
                <th>date vignette</th>
                <th>lieu vignette</th>
                <th>immatriculation</th>
                <th>created</th>
                <th>nom coopérative</th>
                <th>itinéraire</th>
                <th>est_transport</th>
                <th>identification</th>
                <th>est-active</th>
                <th>observation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_carte_grise in ct_carte_grises %}
            <tr>
                <td>{{ ct_carte_grise.id }}</td>
                <td>{{ ct_carte_grise.cgDateEmission ? ct_carte_grise.cgDateEmission|date('d/m/Y') : '' }}</td>
                <td>{{ ct_carte_grise.cgNom }}</td>
                <td>{{ ct_carte_grise.cgPrenom }}</td>
                <td>{{ ct_carte_grise.cgProfession }}</td>
                <td>{{ ct_carte_grise.cgAdresse }}</td>
                <td>{{ ct_carte_grise.cgPhone }}</td>
                <td>{{ ct_carte_grise.cgCommune }}</td>
                <td>{{ ct_carte_grise.cgNbrAssis }}</td>
                <td>{{ ct_carte_grise.cgNbrDebout }}</td>
                <td>{{ ct_carte_grise.cgPuissanceAdmin }}</td>
                <td>{{ ct_carte_grise.cgMiseEnService ? ct_carte_grise.cgMiseEnService|date('d/m/Y') : '' }}</td>
                <td>{{ ct_carte_grise.cgPatente }}</td>
                <td>{{ ct_carte_grise.cgAni }}</td>
                <td>{{ ct_carte_grise.cgRta }}</td>
                <td>{{ ct_carte_grise.cgNumCarteViolette }}</td>
                <td>{{ ct_carte_grise.cgDateCarteViolette ? ct_carte_grise.cgDateCarteViolette|date('d/m/Y') : '' }}</td>
                <td>{{ ct_carte_grise.cgLieuCarteViolette }}</td>
                <td>{{ ct_carte_grise.cgNumVignette }}</td>
                <td>{{ ct_carte_grise.cgDateVignette ? ct_carte_grise.cgDateVignette|date('d/m/Y') : '' }}</td>
                <td>{{ ct_carte_grise.cgLieuVignette }}</td>
                <td>{{ ct_carte_grise.cgImmatriculation }}</td>
                <td>{{ ct_carte_grise.cgCreated ? ct_carte_grise.cgCreated|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ ct_carte_grise.cgNomCooperative }}</td>
                <td>{{ ct_carte_grise.cgItineraire }}</td>
                <td>{{ ct_carte_grise.cgIsTransport ? 'Oui' : 'Non' }}</td>
                <td>{{ ct_carte_grise.cgNumIdentification }}</td>
                <td>{{ ct_carte_grise.cgIsActive ? 'Oui' : 'Non' }}</td>
                <td>{{ ct_carte_grise.cgObservation }}</td>
                <td>
                    <a href="{{ path('app_ct_carte_grise_show', {'id': ct_carte_grise.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                    <a href="{{ path('app_ct_carte_grise_edit', {'id': ct_carte_grise.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="29">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(ct_carte_grises) }}
    </div>

    <a href="{{ path('app_ct_carte_grise_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a>
{% endblock %}
